In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import csv
import datetime as dt
import json

In [2]:
steam_df = pd.read_csv('C:/Users/Barbie/Desktop/DA11/Capstone/STEAM/COOKED STEAM DATA/games_features_CLEANED.csv')

In [3]:
steam_df.head()

,QueryID,ResponseID,QueryName,ResponseName,ReleaseDate,ReleaseYear,ReleaseMonth,RequiredAge,DLCCount,Metacritic,...,GenreIsFreeToPlay,GenreIsSports,GenreIsRacing,GenreIsMassivelyMultiplayer,PriceCurrency,PriceInitial,PriceFinal,AboutText,DetailedDescrip,SupportedLanguages
0,10.0,10.0,Counter-Strike,Counter-Strike,2000-11-01,2000,November,0,0,88,...,False,False,False,False,USD,9.99,9.99,Play the worlds number 1 online action game. E...,Play the worlds number 1 online action game. E...,English French German Italian Spanish Simplifi...
1,20.0,20.0,Team Fortress Classic,Team Fortress Classic,1999-04-01,1999,April,0,0,0,...,False,False,False,False,USD,4.99,4.99,One of the most popular online action games of...,One of the most popular online action games of...,English French German Italian Spanish
2,30.0,30.0,Day of Defeat,Day of Defeat,2003-05-01,2003,May,0,0,79,...,False,False,False,False,USD,4.99,4.99,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,English French German Italian Spanish
3,40.0,40.0,Deathmatch Classic,Deathmatch Classic,2001-06-01,2001,June,0,0,0,...,False,False,False,False,USD,4.99,4.99,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...,English French German Italian Spanish
4,50.0,50.0,Half-Life: Opposing Force,Half-Life: Opposing Force,1999-11-01,1999,November,0,0,0,...,False,False,False,False,USD,4.99,4.99,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...,English French German Korean

In [4]:
steam_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13357 entries, 0 to 13356
Data columns (total 46 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   QueryID                      13304 non-null  float64
 1   ResponseID                   13208 non-null  float64
 2   QueryName                    13277 non-null  object
 3   ResponseName                 13194 non-null  object
 4   ReleaseDate                  13357 non-null  object
 5   ReleaseYear                  13357 non-null  object
 6   ReleaseMonth                 13357 non-null  object
 7   RequiredAge                  13357 non-null  int64
 8   DLCCount                     13357 non-null  int64
 9   Metacritic                   13357 non-null  int64
 10  RecommendationCount          13357 non-null  int64
 11  ScreenshotCount              13357 non-null  int64
 12  SteamSpyOwners               13357 non-null  int64
 13  SteamSpyPlayersEstimate      13357 non-null  int64
 14  AchievementCount             13357 non-null  int64
 15  ControllerSupport            13357 non-null  bool
 16  IsFree                       13357 non-null  bool
 17  SubscriptionAvail            13357 non-null  bool
 18  PlatformWindows              13357 non-null  bool
 19  PlatformLinux                13357 non-null  bool
 20  PlatformMac                  13357 non-null  bool
 21  CategorySinglePlayer         13357 non-null  bool
 22  CategoryMultiplayer          13357 non-null  bool
 23  CategoryCoop                 13357 non-null  bool
 24  CategoryMMO                  13357 non-null  bool
 25  CategoryInAppPurchase        13357 non-null  bool
 26  CategoryVRSupport            13357 non-null  bool
 27  GenreIsNonGame               13357 non-null  bool
 28  GenreIsIndie                 13357 non-null  bool
 29  GenreIsAction                13357 non-null  bool
 30  GenreIsAdventure             13357 non-null  bool
 31  GenreIsCasual                13357 non-null  bool
 32  GenreIsStrategy              13357 non-null  bool
 33  GenreIsRPG                   13357 non-null  bool
 34  GenreIsSimulation            13357 non-null  bool
 35  GenreIsEarlyAccess           13357 non-null  bool
 36  GenreIsFreeToPlay            13357 non-null  bool
 37  GenreIsSports                13357 non-null  bool
 38  GenreIsRacing                13357 non-null  bool
 39  GenreIsMassivelyMultiplayer  13357 non-null  bool
 40  PriceCurrency                13357 non-null  object
 41  PriceInitial                 13357 non-null  float64
 42  PriceFinal                   13357 non-null  float64
 43  AboutText                    13357 non-null  object
 44  DetailedDescrip              13357 non-null  object
 45  SupportedLanguages           13357 non-null  object
dtypes: bool(25), float64(4), int64(8), object(9)
memory usage: 2.5+ MB

In [5]:
steam_df['ResponseName'].value_counts()  # checking for duplicates

ResponseName
Counter-Strike                              1
1943 Megami Strike                          1
The Brookhaven Experiment                   1
Niche - a genetics survival game            1
Mesel                                       1
                                           ..
Cavern Kings                                1
Rising Angels: Reborn                       1
Disney Infinity 2.0: Marvel Super Heroes    1
Silence of the Sleep                        1
Ghostlight Manor                            1
Name: count, Length: 13194, dtype: int64

In [6]:
steam_df['QueryName'].value_counts()  # checking for duplicates

QueryName
Counter-Strike        1
Project Arrhythmia    1
Risky Rescue          1
Royal Heroes          1
Control Craft 2       1
                     ..
Near Impact           1
Ascension             1
Oscura: Lost Light    1
Coffin Dodgers        1
Ghostlight Manor      1
Name: count, Length: 13277, dtype: int64

In [7]:
steam_df['ReleaseYear'].value_counts().reset_index()  # gives us the unique years and count of releases each year

   ReleaseYear  count
0         2016   5342
1         2015   3006
2         2014   1744
3         none    857
4         2013    550
5         2012    392
6         2009    370
7         2010    314
8         2011    305
9         2008    187
10        2007    117
11        2006     79
12        2017     60
13        2004      8
14        2005      6
15        2024      6
16        2001      4
17        2003      3
18        2000      2
19        1999      2
20        1997      1
21        1998      1
22        2019      1

In [8]:
steam_df['ReleaseMonth'].value_counts().reset_index() # gives us the unique months and count of releases each month

   ReleaseMonth  count
0        August   1560
1     September   1287
2       October   1258
3          July   1167
4      November   1081
5          June   1054
6           May   1043
7         April   1008
8         March    882
9          none    857
10     December    791
11     February    726
12      January    643

In [9]:
steam_df['RequiredAge'].value_counts().reset_index()  # gives us the unique required ages with how many games were associated

    RequiredAge  count
0             0  12671
1            17    450
2            13     82
3            18     80
4            16     40
5            12     10
6            15      9
7            10      9
8             6      2
9            14      2
10            1      1
11            7      1

In [10]:
steam_df['Metacritic'].reset_index().sort_values('Metacritic', ascending = False) #gives us all games with Metacritic ratings

       index  Metacritic
10        10          96
6          6          96
3088    3088          96
232      232          96
26        26          95
...      ...         ...
5711    5711           0
5712    5712           0
5713    5713           0
5715    5715           0
13356  13356           0

[13357 rows x 2 columns]

In [18]:
all_steam_data_MERGED = pd.read_json(r"C:\Users\Barbie\Desktop\DA11\Capstone\STEAM\API_CALLS_STEAM\COMBINED_TESTING_2.json")

all_steam_data_MERGED

# this is 73 seperate json files from 73 API Steam calls that I merged into one large json file using Notepad ++

,570,730,578080,1063730,1623730,1172470,440,1938090,271590,550,...,2575100,2917700,2500080,2443520,2216600,1963990,1726330,740310,1285350,789930
appid,570,730,578080,1063730,1623730,1172470,440,1938090,271590,550,...,2575100,2917700,2500080,2443520,2216600,1963990,1726330,740310,1285350,789930
name,Dota 2,Counter-Strike: Global Offensive,PUBG: BATTLEGROUNDS,New World,Palworld,Apex Legends,Team Fortress 2,Call of Duty: Modern Warfare II,Grand Theft Auto V,Left 4 Dead 2,...,V-Monsters Digital Farm,Buggy Derby Arena,Webventure,Purrfect Rescue,Korea Dynasty (조선메타실록),Deliver Us From Evil (DUFE) - Masquerade,Game Developer Simulator,Transmogrify,Easy puzzle: Landscape,Blind Boris
developer,Valve,Valve,"KRAFTON, Inc.",Amazon Games,Pocketpair,Respawn,Valve,"Sledgehammer Games, Treyarch, Infinity Ward, B...",Rockstar North,Valve,...,Red Studios,bam14,Moodming,Gray Boss,Happy Daram Inc.,Galen Games,Phantom Studio,Odyssey Entertainment,Laush Dmitriy Sergeevich,Marginal act
publisher,Valve,Valve,"KRAFTON, Inc.",Amazon Games,Pocketpair,Electronic Arts,Valve,Activision,Rockstar Games,Valve,...,GoGo Games Interactive,bam14,Moodming,Gray Boss,Happy Daram Inc.,Galen Games,Phantom Studio,Odyssey Entertainment,Laush Studio,Marginal act
score_rank,,,,,,,,,,,...,,,,,,,,,,
positive,1836663,7034475,1380986,193004,280252,645151,980557,333373,1557234,834854,...,8,12,18,32,128,4,3,21,12,11
negative,408414,1032480,981812,81497,18423,183785,66218,240280,236827,21169,...,1,1,29,3,66,2,7,2,2,13
userscore,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
owners,"100,000,000 .. 200,000,000","100,000,000 .. 200,000,000","50,000,000 .. 100,000,000","50,000,000 .. 100,000,000","50,000,000 .. 100,000,000","50,000,000 .. 100,000,000","50,000,000 .. 100,000,000","50,000,000 .. 100,000,000","50,000,000 .. 100,000,000","50,000,000 .. 100,000,000",...,"0 .. 20,000","0 .. 20,000","0 .. 20,000","0 .. 20,000","0 .. 20,000","0 .. 20,000","0 .. 20,000","0 .. 20,000","0 .. 20,000","0 .. 20,000"
average_forever,56164,34060,23979,11793,2634,12032,8230,3299,12490,3037,...,0,0,0,0,0,0,0,0,0,35
average_2weeks,2477,593,1028,353,742,1042,1756,343,598,187,...,0,0,0,0,0,0,0,0,0,0
median_forever,971,8390,10192,10422,2143,2149,890,354,6495,827,...,0,0,0,0,0,0,0,0,0,35
median_2weeks,2060,286,751,445,238,376,309,80,253,78,...,0,0,0,0,0,0,0,0,0,0
price,0,0,0,3999,2999,0,0,6999,2998,999,...,399,1999,799,199,1999,499,399,1499,399,1299
initialprice,0,0,0,3999,2999,0,0,6999,2998,999,...,499,1999,799,199,1999,499,399,1499,399,1299
discount,0,0,0,0,0,0,0,0,0,0,...,20,0,0,0,0,0,0,0,0,0
ccu,851269,1242112,396605,7073,22622,219745,98632,81889,135799,25564,...,0,0,0,5,2,0,0,0,0,0

In [21]:
all_steam_data = all_steam_data_MERGED.transpose()  
all_steam_data     # using this to turn the columns into rows and the rows into columns

all_steam_data = all_steam_data.rename(
    columns = {'appid' : 'App_Id',
               'name' : 'Name',
               'developer' : 'Developer',
               'publisher' : 'Publisher',
               'score_rank' : 'Score_Rank',
               'positive' : 'Postive_Reviews',
               'negative' : 'Negative_Reviews',
               'userscore' : 'Userscore',
               'owners' : 'Owners',
               'average_forever' : 'Avg_Playtime_Lifetime',
               'average_2weeks' : 'Avg_Playtime_Two_Weeks',
               'median_forever' : 'Median_Playtime_Lifetime',
               'median_2weeks' : 'Median_Playtime_Two_Weeks',
               'price' : 'Current_Price',
               'initialprice' : 'Initial_Price',
               'discount' : 'Discount',
               'ccu' : 'Peak_CCU'})
all_steam_data     # renaming all the columns to make it flow better

all_steam_data = all_steam_data.reset_index()
all_steam_data     # resetting the index since it seemed to have its own index column identical to the "App_id" column

all_steam_data = all_steam_data.drop(columns = ['index'])
all_steam_data     # dropped the other index column to have the tradiation index column to run alongside the "App_id" column

,App_Id,Name,Developer,Publisher,Score_Rank,Number_of_Postive_Reviews,Number_of_Negative_Reviews,Userscore,Number_of_Owners,Avg_Playtime_Lifetime,Avg_Playtime_Two_Weeks,Median_Playtime_Lifetime,Median_Playtime_Two_Weeks,Current_Price,Initial_Price,Discount,Peak_CCU
0,570,Dota 2,Valve,Valve,,1836663,408414,0,"100,000,000 .. 200,000,000",56164,2477,971,2060,0,0,0,851269
1,730,Counter-Strike: Global Offensive,Valve,Valve,,7034475,1032480,0,"100,000,000 .. 200,000,000",34060,593,8390,286,0,0,0,1242112
2,578080,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",,1380986,981812,0,"50,000,000 .. 100,000,000",23979,1028,10192,751,0,0,0,396605
3,1063730,New World,Amazon Games,Amazon Games,,193004,81497,0,"50,000,000 .. 100,000,000",11793,353,10422,445,3999,3999,0,7073
4,1623730,Palworld,Pocketpair,Pocketpair,,280252,18423,0,"50,000,000 .. 100,000,000",2634,742,2143,238,2999,2999,0,22622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70773,1963990,Deliver Us From Evil (DUFE) - Masquerade,Galen Games,Galen Games,,4,2,0,"0 .. 20,000",0,0,0,0,499,499,0,0
70774,1726330,Game Developer Simulator,Phantom Studio,Phantom Studio,,3,7,0,"0 .. 20,000",0,0,0,0,399,399,0,0
70775,740310,Transmogrify,Odyssey Entertainment,Odyssey Entertainment,,21,2,0,"0 .. 20,000",0,0,0,0,1499,1499,0,0
70776,1285350,Easy puzzle: Landscape,Laush Dmitriy Sergeevich,Laush Studio,,12,2,0,"0 .. 20,000",0,0,0,0,399,399,0,0
70777,789930,Blind Boris,Marginal act,Marginal act,,11,13,0,"0 .. 20,000",35,0,35,0,1299,1299,0,0